.game-page{
	background-color: #4d1212;
}
.game{
position:	relative;
min-height: 90vh;
background-color: #4d1212;
}
.game-back{
display: flex;
justify-content: center;
margin: 2rem;
padding: 0.6rem 1.6rem;
font-size: 2.6rem;
letter-spacing: 0.2rem;
color: #fff;
background-color: #651891;
border: #446688;
border-radius: 6px;
cursor: pointer;
}
