.game-finish{
    position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
    top: -200vh;
    left: 0;
    min-height: 320px;
    width: 100%;
    z-index: 100;
				border-radius: 8px;
				padding: 0.8rem 2rem;
				text-align: center;
    background-color: rgba(11,22,33, 1);
    transition: all .6s ease-in-out;
}
.game-finish-open{
	 top: 0;
		height: 100%;
}
.game-finish-text{
	font-size: 5rem;
	letter-spacing: 0.03rem;
	color: #fff;
}
.game-finish-score-title{
	font-size: 3rem;
	color: #fff;
}

.game-finish-play-again{
	position: relative;
	background-color: rgba(55, 98, 141, 0.7);
}
.game-finish-play-again::after{
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: aqua;
	transition: all 0.4 ease;
}
.game-finish-play-again:hover .game-finish-play-again::after{
width: 100%;
}