.start-page-inner{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 2rem;
	background-color: #000555;
	min-height: 100vh;
}
.start-button{
	padding: 1rem 3rem;
	border: 3px solid #e4c02f;
	border-radius: 0.6rem;
	letter-spacing: 0.2rem;
	font-style: italic;
	font-size: 2.8rem;
	background-color: #777999;
	cursor:	pointer;
	transition: background-color 0.5s ease;
}
.start-button:hover{
	background-color: #16b1a4;
}

.start-settings-button{
	display: block;
	padding: 0.8rem 2.2rem;
	font-size: 2.8rem;
	color: rgb(71, 128, 214);
	background-color: #1a5c68;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.5s ease-in-out;
}
.start-settings-button:hover{
	background-color: #c99a24;
}