.settings-page{
	background-color: #197fc7;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 2rem;
	padding: 2rem 3rem;
}
.settings-title{
	font-size: 5.4rem;
	color: #fff;
}
.settings-point-title{
	color: #27d235;
	font-size: 4rem;
	font-style: italic;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 1rem 0;
}
.settings-point-inner{
	display: flex;
	justify-content: center;
	align-items: center;
}
.difficult-label{
margin-right: 1.4rem;
font-size: 3rem;
color: #fff;
}