.settings-page{
	background-color: #197fc7;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 2rem;
	padding: 2rem 3rem;
}
.settings-title{
	font-size: 5.4rem;
	color: #fff;
}
.settings-point-inner{
	display: flex;
	justify-content: center;
	align-items: center;
}
.settings-button-back{
	display: inline-block;
	margin: 2rem 0;
	padding: 0.4rem 2.2rem;
	font-size: 3rem;
	font-style: italic;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0.8em;
	border: 0.2em solid #7c0097;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}