.game-field{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 3rem;
}
.card{
	position: relative;
	cursor: pointer;
	transform: rotateZ(0);
	transition: transform 0.5s ease;
}
.card-reverse{
	transform: rotateY(90deg);
}
.card-back{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
}
.card-back_invisble{
	opacity: 0;
}
.card-image{
	max-width: 350px;
}