.game-field{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 3rem;
	padding: 2rem;
}
.card{
	position: relative;
	cursor: pointer;
	transform: rotateY(0);
	transition: transform 0.5s  ease-in-out;
}
.card-reverse{
	transform: rotateY(90deg);
}
.card-back{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 1;
	border: 2rem solid #000;
}
.card-back_invisble{
	opacity: 0;
}
.card-image{
	max-width: 350px;
	height: 100%;
}