.game-field{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 3rem;
	padding: 2rem;
}
.card{
	max-width: 35rem;
	height: 28rem;
	cursor: pointer;
	perspective: 1000px;
	background-color: transparent;
}
.card_inactive{
	cursor: not-allowed;
}
.card-inner{
	position: relative;
	height: 100%;
	transition: transform 0.8s;
 transform-style: preserve-3d;
}

.card-inner_rotated {
	transform: rotateY(-180deg);
}

.card-back{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	border-radius: 4rem;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
}
.card-front{
	position: relative;
	height: 100%;
	backface-visibility: hidden;

}
.card-image{
	border-radius: 4rem;
	width: 100%;
height: 100%;
}